<mat-card>
    <h1>All Quizzes</h1>
</mat-card>

<mat-card class="mt10" *ngFor="let quiz of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
        <mat-card-subtitle>{{quiz.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{quiz.description}}</mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="warn">Questions</button>
        <button mat-stroked-button color="warn" class="ml20">Max Marks {{quiz.maxMarks}}</button>
        <button mat-stroked-button color="warn" class="ml10">No. of Questions {{quiz.numberOfQuestions}}</button>
        <button mat-flat-button color="warn" class="ml10">Update</button>
        <button mat-flat-button color="warn" class="ml10">Attempts</button>
    </mat-card-actions>
</mat-card>