<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
        <mat-icon>home</mat-icon>
        <span style="font-size: 20px;" class="ml10">Online Exam Portal</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/login">Login</button>
    <button mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon" routerLink="/signup">Register</button>
  </mat-toolbar>
