<mat-card>
    <h1>All Categories</h1>
    <mat-list>
        <mat-list-item *ngFor="let category of categories">
            <!-- <mat-icon mat-list-icon>category</mat-icon> -->
            <div mat-line>{{category.title}}</div>
            <div mat-line>{{category.description}}</div>
            <mat-icon mat-list-icon (click)="deleteCategory(category.id, category.title)">delete</mat-icon>
            <mat-icon mat-list-icon routerLink="/admin/update-category" (click)="editButtonClicked(category)">edit</mat-icon>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>